@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500")
body
    // padding-top: 50px
    font-family: 'Roboto', sans-serif !important;
.title
    text-align: center
    margin-bottom: 40px
.grid-container
    padding: 0px 30px 20px 30px
#app
    padding: 0px;