$head-bg: #f7f7f7; 
$grid-border: 1px solid #e2e2e2;
$grid-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
$grid-col-hover-bg: #fafafa;
$grid-collapsed-bg: #f7f7f7;
$grid-text-color: #111;
$grid-text-red-color: red;

.grid-content
    button
        margin-bottom: 15px;
.grid
    display: table;
    border: $grid-border;
    // box-shadow: $grid-shadow;
    // -webkit-box-shadow: $grid-shadow;
    
    width: 100%;
    margin: 0 auto;

    &__row
        display: table-row;
        width: 100%;
        &--empty-bg
            background-color: transparent !important;
    
    &__col
        display: table-cell;
        padding: 0.6em;
        border: $grid-border;
        text-align: center;
        vertical-align: middle;
        cursor: default;
        width: 15%;
        color: $grid-text-red-color;

        &:hover
            background: $grid-col-hover-bg;
            cursor: default;
        
        &--collapsed 
            padding: 0px;
            border: none;
            &:hover
                border: none;
            .grid 
                border: none;
                box-shadow: none;
                background: $grid-collapsed-bg; 
                margin-bottom: 10px; 
                &__col
                    color: $grid-text-color;
                    font-size: 12px;
                    font-weight: 200;
                    &--legend
                        text-align: right;

        &--legend
            background-color: $head-bg;
            // width: 20%;
            text-align: center;
            position: relative !important;
            color: $grid-text-color;
            
            button 
                // position: absolute;
                // top: 3px;
                // left: 3px;
                // width: 20px;
                // height: 20px;
                // padding: 0px;
                // line-height: 0px;
                // outline: none;
                // box-shadow: none;
                // &:focus
                //     outline: none;
    
    &__body
        display: table-row-group;
    
    &__head
        background-color: darken($head-bg, 3%);
        .grid
            &__col
                color: $grid-text-color;

.spot-rate
    .table-data 
        color: #a2a2a2;